.artists {
  padding: 24px;
}

.artists-container {
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
}

.artists-container a {
  text-decoration: none;
  color: #000;
}

.artist-card {
  display: flex;
  gap: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 12px;
  flex-flow: column;
}

.artist-img {
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
}
