.song-list-section {
  padding: 24px;
}

.song-container {
  border-radius: 12px;
  border: 0;
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 12px;
  background-color: white;
}
