.song {
  padding: 6px;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 10px;
  border-radius: 12px;
  align-items: center;
  width: 360px;
}

.row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.song-name {
  font-weight: bold;
}

.song-cover-art {
  max-height: 75px;
  max-width: 75px;
  border-radius: 8px;
}
