.like-btn {
  display: flex;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.2s;
}

.like-btn:hover {
  transform: scale(1.1);
  border: 1px solid #dbdbde;
}
