@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600;700&display=swap');

* {
  font-family: 'Inter Tight', sans-serif;
}

.info-section,
.song-list-section,
.album-list-section {
  padding: 24px;
}

.artist-genres {
  margin-top: 24px;
  display: flex;
  font-weight: bold;
  gap: 24px;
}

.genre {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 12px;
  border-radius: 10px;
}

.song-container {
  border-radius: 12px;
  border: 0;
}

.song {
  padding: 6px;
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 24px;
  background-color: white;
}

.table-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 10px;
  border-radius: 12px;
  align-items: center;
  width: 360px;
}

.row-item {
  display: flex;
  flex: 1;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.song-name {
  font-weight: bold;
}

.song-cover-art {
  max-height: 75px;
  max-width: 75px;
  border-radius: 8px;
}

.like-btn {
  display: flex;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.2s;
}

.like-btn:hover {
  transform: scale(1.1);
  border: 1px solid #dbdbde;
}

.album-container {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 24px;
}

.album {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  gap: 12px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 12px;
  width: 161px;
  transition: all 0.15s ease-in-out;
}

.album-name {
  text-align: center;
  font-weight: 600;
}

.album-cover-art {
  height: 161px;
  border-radius: 8px;
}
