@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600;700&display=swap');

* {
  font-family: 'Inter Tight', sans-serif;
}

.info-section,
.song-list-section,
.album-list-section {
  padding: 24px;
}

.artist-genres {
  margin-top: 24px;
  display: flex;
  font-weight: bold;
  gap: 24px;
}

.genre {
  background-color: #f7f8fa;
  padding: 12px;
  border-radius: 10px;
}

.song-container {
  width: 100%;
  background-color: #f7f8fa;
  padding: 12px;
  border-radius: 12px;
  border: 0;
}

.song {
  gap: 12px;
  padding: 12px;
  margin-bottom: 12px;
}

.song-name {
  font-weight: bold;
}

.song-cover-art {
  height: 75px;
  border-radius: 10px;
}

.like-btn {
  display: flex;
  border: 1px solid #ebebec;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  transition: transform 0.2s;
}

.like-btn:hover {
  transform: scale(1.1);
  border: 1px solid #dbdbde;
}

.album-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 24px;
}

.album {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;
  background-color: #f7f8fa;
  padding: 18px;
  border-radius: 12px;
  width: 161px;
}

.album-name {
  text-align: center;
  font-weight: 600;
}

.album-cover-art {
  height: 125px;
  border-radius: 10px;
}
